.section {
    margin-bottom: 20px;
    padding: 15px;
    background: rgba(30, 41, 59, 0.75);
    border-radius: 8px;
    width: 100%;
}

.section h3 {
    font-size: 16px;
    color: #facc15;
    margin-bottom: 10px;
}

.headerDiv h1 {
    color: #facc15;
    margin-bottom: 0.5%;
    text-align: center;
    font-size: large;
}

.headerDiv p {
    color: #2cb5f2;
    margin-bottom: 10px;
    text-align: center;
    font-size: large;
}

.achContent {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: space-between;
    padding: 2%;
    flex-wrap: wrap;

}

.card {
    display: flex;
    align-items: center;
    background: rgba(15, 23, 42, 0.85);
    padding: 0px 15px;
    border-radius: 8px;
    width: 47%;
    height: fit-content;
    margin-bottom: 2.5%;
}

.card-content {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.card-content strong {
    color: #facc15;
    font-size: 1.2rem;
}

.card-content span {
    font-size: 0.9rem;
    color: #c7d5e0;
}