.section {
    margin-bottom: 20px;
    padding-top: 15px;
    background: rgba(30, 41, 59, 0.75);
    border-radius: 8px;
    width: 100%;
}

.section h3 {
    font-size: 16px;
    color: #facc15;
    margin-bottom: 10px;
}

.headerDiv h1 {
    color: #facc15;
    margin-bottom: 0.5%;
    text-align: center;
    font-size: 2rem;

}

.seasonalMain h2 {
    color: #1abc9c;
    margin-bottom: 0.5%;
    text-align: center;
    font-size: 2rem;
    margin-top: 15px;
}

.headerDiv p {
    color: #2cb5f2;
    margin-bottom: 10px;
    text-align: center;
    font-size: large;
}

.achContent {
    display: flex;
    flex-direction: row;
    /* gap: 2%; */
    justify-content: space-between;
    padding: 1% 4%;
    flex-wrap: wrap;

}

.card {
    display: flex;
    align-items: center;
    background: rgba(15, 23, 42, 0.85);
    padding: 0px 15px;
    border-radius: 8px;
    width: 47%;
    height: fit-content;
    margin-bottom: 1%;
    border: 2px solid rgba(255, 204, 0, 0.6)
}

.card-content {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.card-content strong {
    color: #facc15;
    font-size: 1.2rem;
}

.card-content span {
    font-size: 0.9rem;
    color: #c7d5e0;
}
.seasonalContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 55px;
}

.seasonalMain {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(15, 23, 42, 0.85);
    border: 2px solid rgba(255, 204, 0, 0.6);
    border-radius: 8px;
    height: fit-content;
}

.seasonalAchieves {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.seasonal-card-content {
    display: flex;
    flex-direction: column;
}

.seasonal-card-content strong {
    color: #facc15;
    font-size: 1.2rem;
}

.seasonal-card-content span {
    font-size: 0.9rem;
    color: #c7d5e0;
}

.seasonal-card {
    display: flex;
    align-items: center;
    /* background: rgba(15, 23, 42, 0.85); */
    padding: 15px 15px;
    /* border-radius: 8px; */
    width: 100%;
    height: fit-content;
    margin-bottom: 1%;
    border-top: 1px dotted rgba(255, 204, 0, 0.6)
}

.seasonal-card img {
    margin-right: 15px;
}