.container {
    display: flex;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: rgba(18, 27, 39, 0.75);
    color: #c7d5e0;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}
.banner {
    display: flex;
    align-items: center;
    background: rgba(30, 41, 59, 0.75);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.banner img {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    margin-right: 15px;
}

.banner-content {
    flex-grow: 1;
}

.banner-content strong {
    font-size: 18px;
    color: #ffffff;
    display: block;
}

.banner-content span {
    font-size: 14px;
    color: #c7d5e0;
}

.last-updated {
    font-size: 12px;
    color: #aaa;
    margin-right: 10px;
}

.button {
    background: #0ea5e9;
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background: #0284c7;
}

.button:disabled {
    cursor: not-allowed;
}

.section {
    margin-bottom: 20px;
    padding: 15px;
    background: rgba(30, 41, 59, 0.75);
    border-radius: 8px;
}

.section h3 {
    font-size: 16px;
    color: #facc15;
    margin-bottom: 10px;
}
.section h1 {
    color: #facc15;
    margin-bottom: unset;
    text-align: center;
    font-size: large;
    font-size: 1.4rem;
    text-shadow: 0 0 10px #000, 0 0 2px #ffc400;
}

.pvp-container {
    display: flex;
    gap: 9px; 
}


.pvp-card {
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 290px;
    min-height: 442px;
}

.pvp-spec {
    display: flex;
    flex-wrap: wrap;
    /* max-height: 164px; */
    justify-content: center;
}

.pvp-spec img {
    mix-blend-mode: lighten;
    background-color: transparent;
    /* filter: contrast(2) brightness(1.1); */
    filter: brightness(120%) contrast(170%) saturate(350%) sepia(15%) hue-rotate(-10deg);

}

.pvp-details strong {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

.pvp-rating {
    margin-top: 5px;
    color: #facc15;
    font-size: 14px;
}

.pvp-stats {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pvp-details {
    width: 97.67px;
    max-width: 97px;
    height: 192px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto;
    gap: 8px;
    grid-auto-flow: row dense;
  
    justify-items: center;
    background: rgba(51, 65, 85, 0.75);
    padding: 12px 0px;
    border-radius: 6px;
    text-align: center;
    flex: 1;
    margin: 5px;
}

.pvp-card-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
}

.pvp-details p {
    color: #0ea5e9;
}
.pvp-stat-box {
    background: rgba(51, 65, 85, 0.75);
    padding: 12px;
    border-radius: 6px;
    text-align: center;
    flex: 1;
    margin: 5px;
}

.pvp-stat-box small {
    font-size: 12px;
    color: #aaa;
    display: block;
}

.pvp-stat-box span {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.card {
    display: flex;
    align-items: center;
    background: rgba(38, 53, 74, 0.75);
    padding: 15px;
    border-radius: 8px;
}

.card img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.card-content strong {
    color: #facc15;
    font-size: 14px;
}

.card-content span {
    font-size: 12px;
    color: #c7d5e0;
}

.spec-title {
    color: #1abc9c;
    text-align: center;
    font-weight: bold;
    font-size: 130%;
}

.spec-border-div {
    padding: 5px 12px;
}

.inner-section {
    height: 100%;
    border: 2px solid rgba(255, 204, 0, 0.6); 
    padding: 5px 12px;
    padding-bottom: 10px;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(145deg, rgba(15, 23, 42, 0.85), rgba(20, 20, 40, 0.9));
    box-shadow: inset 0 0 10px rgba(255, 204, 0, 0.2), 0 0 12px rgba(0, 0, 0, 0.5);

}

.pvp-section {
    display: flex;
}

.pvp-div {
    display: flex;
    gap: 10px;
    max-width: 100%; /* Allow full width usage */
    justify-content: center; /* Centers cards */
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.character-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    height: auto;
    z-index: -1;
}

.post-section-wrap {
    margin-bottom: 20px;
    padding: 15px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    
}

.post-section h3 {
    font-size: 16px;
    color: #facc15;
    margin-bottom: 10px;
}
.post-section h1 {
    display: block;
    color: #facc15;
    margin-bottom: 10px;
    text-align: center;
}
.post-section {
    padding: 15px;
    background: rgba(30, 41, 59, 0.5);
    border-radius: 8px;

}