.mainGrid {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding-bottom: 4rem;
}

.section-separator {
  height: 60px;
  background: linear-gradient(to bottom, #151623, #181828);
}

/* Moving light gradient sweeping left to right */
.lightSweep {
    content: "";
    position: absolute;
    top: 0;
    width: 200%;
    height: 100%;
    background: radial-gradient(
        circle at 40% 50%,
        rgba(255, 215, 0, 0.06),
        transparent 60%
    );
    pointer-events: none;
    z-index: 2;
    border-bottom-left-radius: 1vh;
}