.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #1e293b;
    box-shadow: 0 0 8px #22d3ee;
    width: 100%;
    max-width: 400px;
    margin: auto;
    position: relative;
    border: 2px solid rgba(255, 204, 0, 0.6);
    border-radius: 10px;
    padding-left: 0;
    cursor: text;
}


.input {
    width: 100%;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    outline: none;
    background: #1e293b;
    color: #f1f5f9;
}

.input::placeholder {
    color: #94a3b8;
}

.laoding {
    width: 50px;
    height: 50px;
}

.searchBar img {
    margin: 0 0.5rem;
}