.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.3rem;
    padding-right: 1rem;
    background: #cdd1d0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 480px;
    margin: 0;
    position: relative;
    border: 1px solid rgba(29, 14, 233, 0.3);
    transition: all 0.25s ease-in-out;
    border-radius: 8px;
    padding-left: 0;
    cursor: text;
    scale: 0.9;
    animation: pulseGlow 8s infinite;

}

.searchBar:hover {
    color: #ffffff;
    box-shadow: 0 0 10px rgba(14, 165, 233, 0.6);
    border: 1px solid #0ea5e9;

}

@keyframes pulseGlow {
    0%, 100% {
        box-shadow: 0 0 8px rgba(65, 233, 14, 0.3);
    }
    50% {
        box-shadow: 0 0 12px rgba(14, 47, 233, 0.6);
    }
}


.input {
    width: 100%;
    font-size: 1.05rem;
    line-height: 1ch;
    border: none;
    border-radius: 8px;
    outline: none;
    background: rgba(30, 41, 59, 0);
    color: #000000;
    height: 28px;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.5rem;
}

input:focus {
    background-color: #f0f0f0;
}

.input::placeholder {
    color: #2010466e;
    text-shadow: none;
}

.searchBar img {
    margin: 0 0.5rem;
     width: 26px;
    filter: brightness(0.9) drop-shadow(5px 1px 1px #0d0c4286) contrast(2) hue-rotate(-5deg);
}