.main {
    padding: 2rem 3rem;
    background-color: rgba(30, 41, 59, 0.75);
    border-radius: 12px;
    padding-top: 1rem;
}

.main h3 {
    font-size: 2.4rem;
    text-align: center;
    color: gold;
    text-shadow: 0 0 10px #000, 0 0 2px #ffc400;
    margin-bottom: 1rem;
}

.content {
    background: linear-gradient(145deg, rgba(15, 23, 42, 0.85), rgba(20, 20, 40, 0.9));
    border: 1px solid gold;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: inset 0 0 10px rgba(255, 204, 0, 0.2), 0 0 12px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;

}


.content span {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #1abc9c;;
}

.content button {
    font-size: 1.2rem;
}

.charInfo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.charInfo img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid gold;
    box-shadow: 0 0 8px rgba(255, 215, 0, 0.4);
    background: #1e1e2e;
}

.charInfo span {
    font-size: 1.2rem;
    color: #ffda6b;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    background-color: rgba(51, 65, 85, 0.75);
    width: 50%;
    padding: 1rem;
    border-radius: 6px;
}


.talentSpec {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #1abc9c;
    letter-spacing: 0.5px;
    text-shadow: 0 0 3px #1a7237;
    text-align: center;
    font-size: 1.7rem;
}

.content button {
    margin-top: 1rem;
    font-size: 1.2rem;
    background: linear-gradient(to bottom, #00c3ff, #0066ff);
    border: none;
    padding: 0.7rem 1.5rem;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 195, 255, 0.3);
    transition: transform 0.15s ease, background 0.3s ease;
}

.content button:hover {
    transform: scale(1.05);
    background: linear-gradient(to bottom, #33d4ff, #0044cc);
}
