.container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background: rgba(18, 27, 39, 0.75);
    color: #c7d5e0;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    background: rgba(30, 41, 59, 0.75);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.header {
    color : #facc15;
    text-align: center;
    margin-bottom: 20px;
}

.email-input {
    display: flex;
    flex: 1;
    min-width: 590px;
}

.email-input label {
    text-align: end;
    width: 170px;
    margin-top: 5px;
    font-size: medium;
    margin-right: 10px;
}

.form-el {
    flex: 1;
    gap: 15px;
}

.info-header {
    text-align: center;
    margin: 15px;
    margin-top: 50px;
}
